test-projects/salesforce-enterprise/force-app/main/default/flows/Account_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <interviewLabel>Account Create Flow-1</interviewLabel>
    <label>Account Create</label>
    <processType>Flow</processType>
    <screens>
        <name>EnterAccountDetails</name>
        <label>Enter Account Details</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ValidateAccountData</targetReference>
        </connector>
        <fields>
            <name>AccountName</name>
            <fieldType>InputField</fieldType>
            <label>Account Name</label>
            <required>true</required>
            <helpText>Enter the full legal name of the account</helpText>
        </fields>
        <fields>
            <name>Industry</name>
            <fieldType>InputField</fieldType>
            <label>Industry</label>
            <required>false</required>
            <dataType>String</dataType>
        </fields>
        <fields>
            <name>AnnualRevenue</name>
            <fieldType>InputField</fieldType>
            <label>Annual Revenue</label>
            <required>false</required>
            <dataType>Currency</dataType>
        </fields>
        <fields>
            <name>Phone</name>
            <fieldType>InputField</fieldType>
            <label>Phone</label>
            <required>false</required>
            <dataType>Phone</dataType>
        </fields>
        <fields>
            <name>BillingStreet</name>
            <fieldType>InputField</fieldType>
            <label>Billing Street</label>
            <required>false</required>
            <dataType>String</dataType>
        </fields>
        <fields>
            <name>BillingCity</name>
            <fieldType>InputField</fieldType>
            <label>Billing City</label>
            <required>false</required>
            <dataType>String</dataType>
        </fields>
        <fields>
            <name>BillingState</name>
            <fieldType>InputField</fieldType>
            <label>Billing State/Province</label>
            <required>false</required>
            <dataType>String</dataType>
        </fields>
        <fields>
            <name>BillingPostalCode</name>
            <fieldType>InputField</fieldType>
            <label>Billing Postal Code</label>
            <required>false</required>
            <dataType>String</dataType>
        </fields>
        <fields>
            <name>BillingCountry</name>
            <fieldType>InputField</fieldType>
            <label>Billing Country</label>
            <required>false</required>
            <dataType>String</dataType>
        </fields>
    </screens>
    <decisions>
        <name>ValidateAccountData</name>
        <label>Validate Account Data</label>
        <locationX>176</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsValidAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnterAccountDetails.AccountName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Valid Account</label>
        </rules>
    </decisions>
    <actions>
        <name>CreateAccountRecord</name>
        <label>Create Account Record</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <actionName>FlowActionCreateRecord</actionName>
        <actionType>CreateRecord</actionType>
        <inputParameters>
            <name>AccountName</name>
            <value>
                <elementReference>EnterAccountDetails.AccountName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Industry</name>
            <value>
                <elementReference>EnterAccountDetails.Industry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AnnualRevenue</name>
            <value>
                <elementReference>EnterAccountDetails.AnnualRevenue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Phone</name>
            <value>
                <elementReference>EnterAccountDetails.Phone</elementReference>
            </value>
        </inputParameters>
        <object>Account</object>
    </actions>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EnterAccountDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
